<h3>Data Sources</h3>

<p>WikiORA uses Wikidata as a the sole data source for the gene sets, selecting only terms with linked Wikipedia pages.  
  
  Wikidata combines community curation with data imports. For cell type  markers, the major source of information is <a href="https://panglaodb.se/" target="_blank">PanglaoDB</a>. 
  For biological processes, molecular functions and  cellular components, the major sources are the <a href="https://www.ebi.ac.uk/GOA/" target="_blank">Gene
    Ontology Annotation (GOA) Database</a> and the <a href="https://geneontology.org/docs/go-citation-policy/"
    target="_blank"> Gene Ontology Resource</a>.</p>
  
<p>The gene sets available for this version can be retrieved in the <a href="/download">Download</a> page. 
  To ensure reproducibility, older versions of the tool are archived on <a href="https://github.com/lubianat/wikiora/tags" target="_blank">GitHub</a>. </p>

<h3>Citing</h3>

<p>Manuscript in preparation.</p>


<p>Lubiana, T., & Nakaya, H. (2024).<i>WikiORA (version {{app_version}})</i>. Retrieved from
  <i><a href="https://wikiora.sysbio.tools">https://wikiora.sysbio.tools</a></i></p>
    