<h3>Citing</h3>

<p>Manuscript in preparation.</p>


<p>Lubiana, T., & Nakaya, H. (2024).<i>WikiORA (version {{app_version}})</i>. Retrieved from
  https://wikiora.sysbio.tools</p>

<p>WikiORA uses Wikidata as a data source for the gene sets. It combines community curation with imports from diverse
  sources.We recommend also citing the major sources of information used to feed Wikidata. When using the cell type
  markers,
  we suggest also citing <a href="https://panglaodb.se/" target="_blank">PanglaoDB</a>. For gene ontology gene sets,
  we suugest citing also the <a href="https://www.ebi.ac.uk/GOA/" target="_blank">Gene
    Ontology Annotation (GOA) Database</a> and the <a href="https://geneontology.org/docs/go-citation-policy/"
    target="_blank"> Gene Ontology Resource </a>.</p>