{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="mt-5">About WikiORA</h1>
  <p>WikiORA is a tool designed to simplify the process of gene set over-representation analysis by integrating data
    from Wikidata and Wikipedia. Our aim is to provide an easy-to-use platform for researchers to identify significantly
    enriched gene sets in their data, using a combination of curated gene sets from various sources.</p>

  <h3>How It Works</h3>
  <p>WikiORA uses the following steps to perform over-representation analysis:</p>
  <ol>
    <li>A list of genes is provided by the user.</li>
    <li>The background gene sets are defined using data curated into Wikidata.</li>
    <li>For each gene set, the overlap between the user-provided gene list and the genes associated with the gene set
      (and its Wikipedia page) is calculated.</li>
    <li>The p-value is calculated using the hypergeometric test, representing the probability of observing at least as
      many overlapping genes by chance.</li>
    <li>The Benjamini-Hochberg correction</a> is applied to account for multiple testing and
      adjust the p-values.</li>
    <li>The odds ratio (provided in the download file) is calculated as follows: oddsRatio = (1.0 * a * d) /
      Math.max(1.0 * b * c, 1).</li>
    <li>The combined score (provided in the download file) is calculated as follows: combinedScore = -log(p) *
      oddsRatio.</li>
    <li>Results are sorted by p-value to highlight the most significantly over-represented terms.</li>
  </ol>
  <li>Results are sorted by p-value to highlight the most significantly over-represented terms.</li>
  </ol>

  <h3>Data Sources</h3>
  <p>WikiORA uses Wikidata as a data source for the gene sets. It combines community curation with imports from sources
    such as:</p>
  <ul>
    <li><a href="https://en.wikipedia.org" target="_blank">Wikipedia</a></li>
    <li><a href="http://geneontology.org" target="_blank">Gene Ontology</a></li>
    <li><a href="https://panglaodb.se" target="_blank">PanglaoDB</a></li>
  </ul>

  <h3>Citing</h3>
  (manuscript in preparation)

  While gene sets include more information than the original data sources, when using the cell type marker data, we
  recommend also citing <a href="https://panglaodb.se/" target="_blank">PanglaoDB</a>.
  For gene ontology gene sets, we recommend citing also the <a href="https://www.ebi.ac.uk/GOA/" target="_blank">Gene
    Ontology Annotation (GOA) Database</a> and the <a href="https://geneontology.org/docs/go-citation-policy/"
    target="_blank"> Gene Ontology Resource </a>.

  <h3>Team</h3>
  <p>WikiORA is developed in Brazil by a team of bioinformaticians passionate about open knowledge.
    The project is led by <href="https://tiago.bio.br" target="_blank">Tiago Lubiana</a> at the <a
        href="https://www.csbiology.org/" target="_blank">Computational Systems Biology Laboratory</a>, headed by Prof.
      Helder Nakaya </p>

  <h3>Contact Us</h3>
  <p>If you have any questions, feedback, or suggestions, please feel free to contact us via <a
      href="https://github.com/lubianat/wikiora/issues" target="_blank">GitHub</a>.</p>


  <h3>GitHub</h3>
  <p>If you like our project, give us a ⭐ on <a href="https://github.com/lubianat/wikiora" target="_blank">GitHub</a>!
  </p>
</div>
{% endblock %}