{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9 d-flex flex-column justify-content-end">
      <h3 class="mt-5"> Gene Set Over-Representation Analysis...</h3>
      <div class="mt-4">
        <p>...simplified by Wikipedia and Wikidata. </p>
        <p> Two species. Four gene libraries. Enter a gene list and explore:</p>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-end" style="text-align: center;">
      <img src="{{ url_for('static', filename='logo.svg') }}" width="80%" alt="">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <form id="enrich-form" action="/enrich" method="post">
            <div class="form-group">
              <label for="organism">Organism</label>
              <select class="form-control" id="organism" name="organism">
                <option value="human">Human</option>
                <option value="mouse">Mouse</option>
              </select>
            </div>
            <div class="form-group">
              <label for="analysis_type">Analysis Type</label>
              <select class="form-control" id="analysis_type" name="analysis_type">
                <option value="cell_type_markers">Cell Type Markers</option>
                <option value="biological_processes">Biological Processes</option>
                <option value="molecular_functions">Molecular Functions</option>
                <option value="cellular_components">Cellular Components</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gene_list">Gene List</label>
              <textarea class="form-control" id="gene_list" name="gene_list" rows="5" oninput="updateGeneCount()"
                ondragover="handleDragOver(event)" ondrop="handleFileSelect(event)"
                placeholder='Enter a gene list, drop a .txt file, or click on "Randomize".' required></textarea>
              <small id="gene-count" class="form-text text-muted">Number of genes: 0</small>
            </div>
            <p class="small text-muted">
              Genes in the list may be separated by tabs, semicolons, commas, or new lines.
            </p>
            <button type="button" class="btn btn-secondary" onclick="fetchExampleGenes()">Randomize</button>
            <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
          </form>
          <br>
          <p id="example-note" style="display: none;">
            Sample gene set randomly selected. Can you guess the process/function/component/cell type? 🧬🧫🔍
          </p>
        </div>
      </div>
    </div>
  </div>

  <body>
    <div class="row mt-4">
      <div class="col text-left">
        <h6 class="d-inline small gray-text">Total runs: </h6>
        <div class="d-inline gray-text">
          <span id="lists-enriched-counter" class="d-inline">0</span> and counting.
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg"
            class="question-mark-icon" alt="?"
            title="Count is updated for every dashboard generated. Values may vary slightly due to data synchronization.">
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/count.js') }}"></script>
</div>

<script>
  function handleDragOver(event) {
    event.preventDefault();
    event.stopPropagation();
    event.dataTransfer.dropEffect = 'copy';
  }

  function handleFileSelect(event) {
    event.preventDefault();
    event.stopPropagation();

    var files = event.dataTransfer.files;
    if (files.length > 0) {
      var file = files[0];
      if (file.type === 'text/plain') {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById('gene_list').value = e.target.result;
          updateGeneCount();
          disableDrop();
        };
        reader.onerror = function (e) {
          console.error('Error reading file:', e);
          alert('Failed to read file. Please try again.');
        };
        reader.readAsText(file);
      } else {
        alert('Please drop a valid .txt file.');
      }
    }
  }

  function updateGeneCount() {
    var geneList = document.getElementById('gene_list').value;
    var genes = geneList.split(/[\s,;]+/).filter(function (gene) {
      return gene.trim().length > 0;
    });
    document.getElementById('gene-count').textContent = 'Number of genes: ' + genes.length;
    if (genes.length > 50) {
      document.getElementById('enrich-form').method = 'post';
    } else {
      document.getElementById('enrich-form').method = 'get';
    }
  }

  function disableDrop() {
    var textarea = document.getElementById('gene_list');
    textarea.removeEventListener('dragover', handleDragOver);
    textarea.removeEventListener('drop', handleFileSelect);
  }

  function fetchExampleGenes() {
    var organism = document.getElementById('organism').value;
    var analysisType = document.getElementById('analysis_type').value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/example_genes', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        document.getElementById('gene_list').value = xhr.responseText;
        document.getElementById('example-note').style.display = 'block';
        updateGeneCount();
      } else if (xhr.readyState == 4) {
        console.error('Error fetching example genes:', xhr.statusText);
        alert('Failed to fetch example genes. Please try again.');
      }
    };
    xhr.send('organism=' + organism + '&analysis_type=' + analysisType);
  }
</script>

<style>
  .card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .card-body img {
    flex: 1;
  }

  .text-left h6,
  .text-left span {
    font-size: 1rem;
    display: inline-block;
  }

  .question-mark-icon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    margin-left: 5px;
    cursor: pointer;
  }

  .question-mark-icon:hover {
    opacity: 1.0;
  }
</style>
{% endblock %}