{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Gene Over-Representation Analysis based on Wikidata</h1>

  <img src="{{ url_for('static', filename='example.png') }}" class="img-fluid" alt="Example Workflow">
  <p class="mt-2 text-center small text-muted">WikiORA integrates Wikidata, Gene Ontology, PanglaoDB, and Wikipedia for
    simple,
    encyclopedic enrichment analysis.</p>

  <div class="mt-4">
    <p>
      WikiORA is a helper for Over-Representation (i.e. enrichment) Analysis of gene sets based on <a
        href="https://en.wikipedia.org" target="_blank">Wikipedia</a> and
      <a href="https://www.wikidata.org" target="_blank">Wikidata</a>.</p>
    <p> For each species (human and mouse), there are four sources of gene sets:
      genes linked to cell types or
      <a href="http://geneontology.org" target="_blank">Gene Ontology</a> biological processes, molecular functions, and
      cellular components.
    </p>
  </div>

  <form id="enrich-form" action="/enrich" method="get">
    <div class="form-group">
      <label for="organism">Organism</label>
      <select class="form-control" id="organism" name="organism" onchange="fetchExampleGenes()">
        <option value="human">Human</option>
        <option value="mouse">Mouse</option>
      </select>
    </div>
    <div class="form-group">
      <label for="analysis_type">Analysis Type</label>
      <select class="form-control" id="analysis_type" name="analysis_type" onchange="fetchExampleGenes()">
        <option value="cell_type_markers">Cell Type Markers</option>
        <option value="biological_processes">Biological Processes</option>
        <option value="molecular_functions">Molecular Functions</option>
        <option value="cellular_components">Cellular Components</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gene_list">Gene List</label>
      <textarea class="form-control" id="gene_list" name="gene_list" rows="5" oninput="updateGeneCount()"></textarea>
      <small id="gene-count" class="form-text text-muted">Number of genes: 0</small>
    </div>
    <p class="small text-muted">
      Genes in the list may be separated by tabs, semicolons, commas, or new lines.
    </p>
    <button type="button" class="btn btn-secondary" onclick="fetchExampleGenes()">Randomize</button>
    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
  </form>
  <br>
  <p id="example-note" style="display: none;">
    Sample gene set randomly selected. Can you guess the process/function/component/cell type? 🧬🧫🔍
  </p>
</div>
<script>
  function fetchExampleGenes() {
    var organism = document.getElementById('organism').value;
    var analysisType = document.getElementById('analysis_type').value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/example_genes', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        document.getElementById('gene_list').value = xhr.responseText;
        document.getElementById('example-note').style.display = 'block';
        updateGeneCount();
      }
    };
    xhr.send('organism=' + organism + '&analysis_type=' + analysisType);
  }

  function updateGeneCount() {
    var geneList = document.getElementById('gene_list').value;
    var genes = geneList.split(/[\s,;]+/).filter(function (gene) {
      return gene.trim().length > 0;
    });
    document.getElementById('gene-count').textContent = 'Number of genes: ' + genes.length;
    if (genes.length > 50) {
      document.getElementById('enrich-form').method = 'post';
    } else {
      document.getElementById('enrich-form').method = 'get';
    }
  }

  window.onload = fetchExampleGenes;
</script>
{% endblock %}