<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiORA - Gene Over Representation Analysis</title>

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="WikiORA - gene set over-representation analysis">
  <meta property="og:description" content="Simplified gene set over-representation analysis with Wikipedia navigation.">
  <meta property="og:image" content="https://wikiora.toolforge.org/static/example.png">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="WikiORA">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="WikiORA - gene set over-representation analysis">
  <meta name="twitter:description"
    content="Simplified gene set over-representation analysis with Wikipedia navigation..">
  <meta name="twitter:image" content="https://wikiora.toolforge.org/static/logo.png">

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo.svg') }}">

  <!-- Wikipedia Style Font -->
  <link rel="stylesheet"
    href="https://en.wikipedia.org/w/load.php?modules=ext.cite.styles|ext.cite.a11y|ext.echo.badge|ext.echo.badge.alt|ext.flaggedRevs.basic|ext.flaggedRevs.advanced|ext.math.styles|ext.rtlcite|mediawiki.skinning.interface|skins.vector.styles|wikibase.client.init|wikibase.client.sitelinks|wikibase.client.snippets|wikibase.ui.entityViewInit|wikibase.ui.entityViewInit.search.css&only=styles&skin=vector">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='logo.svg') }}" width="30" height="30" class="d-inline-block align-top"
        alt="">
      WikiORA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
</body>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Made in 🇧🇷 in 2024. Content from Wikidata is under CC0. <a href="/about">About</a> | <a
        href="https://github.com/lubianat/wikiora">GitHub</a></span>
  </div>
</footer>
</body>

</html>